<% provide :title, t(".help") %>
<h1><%= t ".help_app" %></h1>
<p>
  <%= t "help_app" %>
  <%= link_to t(".tutorial"), "http://www.railstutorial.org/" %>
  <%= link_to t(".help_section"), "http://www.railstutorial.org/" %>
  <%= t ".to_get_help" %>
  <%= link_to t(".at_book"), "http://www.railstutorial.org/book" %>
</p>
